<p id="komunikat"><%= flash[:komunikat] %></p>

<p>
  <strong>Artist:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Minimum price:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>Maximum price:</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<%= link_to 'Back', events_index_path %>
