<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Numer siedzenia:</strong>
  <%= @ticket.seat_id_seq %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @ticket.address %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ticket.email_address %>
</p>

<p>
  <strong>Numer telefonu:</strong>
  <%= @ticket.phone %>
</p>

<% if @ticket.user == current_user %>
	<%= link_to 'Edytuj', edit_ticket_path(@ticket) %> |
<% end %>

<%= link_to 'Wróć', tickets_path %>
